{% extends "design/design.html" %}
{%load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Любимый сайтик)</title>
</head>
<body>

{% block content%}
<a> <img src="{% static 'photos/emble.png' %}" align="right" width="500"/></a>
<p style="color:white;font-size:40px"> Всех приветствую на данном видео-хостинге. Рады, что вы пожелали воспользоваться именно им!</p>
<p style="color:white;font-size:40px"> Плюсы нашей платформы:</p>
<p style="color:white;font-size:40px">  1) </p>

{% endblock content%}
</body>
</html>